<html>
    <head>
        <title>Catalog App</title>
    <meta name="google-signin-client_id" content="682221223878-pl3rgk5qvvgme87832b2jeegjejs62og.apps.googleusercontent.com">    
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">  
    
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">  
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

<!--LOAD PRE-REQUISITES FOR GOOGLE SIGN IN -->
   <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="https://apis.google.com/js/platform.js?"></script>

  
 
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


    </head>
    <body>
        <nav class="navbar ">
            <div  id="navbar"  class="container container-nav">
                <h2><a class="brand-name"href="/">Catalog</a></h2>
                {% if username %} 
                
                <a 
                style="cursor:pointer"
                id="sign-out" 
                onclick="signOut();">Sign out</a>
               {%else %}

               <form action="/auth/login">
             
                <button 
                    type="submit"
                    id="sign-in"
                    style="
                    font-weight: bold;
                    border-color: #E64A19 !important;
                    background: #E64A19 !important;"
                    type="button" 
                    class="btn btn-primary" 
                          >
                                    Sign in
                </button>
                 
                </form>
          
                




                </div>
                {%endif%}

               
                  
            </nav>
            <div class="container container-content">

                     <!--- render index -->
                     {% block index %}{% endblock %}
                     
                     <!--Render itemDescription -->
                     {% block itemDescription %} {% endblock %}
                     
                     <!-- Renders items -->
                    {% block items%}{%endblock%}
                    
                    <!-- Render edit  -->
                    {% block edit %} {% endblock %}
                    
                    <!---  Render add-->
                    {% block add%} {% endblock %}

                      <!---  Render delete-->
                      {% block delete%} {% endblock %}
            

  

            </div>
        </body>
        <footer class="footer text-right ">
            <div class="container-fluid">
                <span class="text-muted pr-2">&copy<a style="color:#001F3F !important;" href="https://github.com/letorruella"> Luis E Torruella</a></span>
            </div>
          </footer>

          <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
         
          <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>   

    <script>
gapi.load('auth2', function(){
    gapi.auth2.init()
    console.log("loaded")
})

// Sign OOUt
function signOut() {
    var auth2 = gapi.auth2.getAuthInstance();
    auth2.signOut().then(function () {
      console.log('User signed out.');
    });

          $.ajax({
          type:"POST",
          url:'/auth/gdisconnect',
          success: function(){
              //Refresh Page
             setTimeout(function() {

              window.location.reload();
         }, 
         1000);
          },
          error: function(){
              alert("Error")
          }
      })
  }
  
  
 //Failures
 
var onFailure = function(error) {
    console.log(error);
};

    </script>
        

</html>     