{% extends 'base.html' %}

{% block content %}

<form method="POST" action="{{url_for('user.index')}}">
    {{ form.csrf_token }}
  <p>
    {{ form.email(placeholder="Email") }}
    <span>
      {% if form.email.errors %}
        {% for error in form.email.errors %}
          {{ error }}
        {% endfor %}
      {% endif %}
    </span>
  </p>
  <p>
  <p>
    {{ form.name(placeholder="Name") }}
    <span>
      {% if form.name.errors %}
        {% for error in form.name.errors %}
          {{ error }}
        {% endfor %}
      {% endif %}
    </span>
  </p>
  <button type="submit">Add Owner!</button>
</form>

{% endblock %}