{% extends 'base.html'%}

{% block items %}

<div class="row">
             <div class="category col-lg-2  col-md-4 col-sm-4">
            <h2>Categories</h2>
            {% for c in categories %}
                <li><a href="{{url_for('catalog_items', category=c.name)}}">
                    {{c.name}}
                </a></li>
         
            {% endfor %}
        </div>

        <div class="items col-md-6 col-sm-4">
            <h3>  {{categoryName}} ({{itemCount}} {{itemCountString}})</h3>
            <ul>
            {% for i in items %} 
                <li>
                   <a href="{{url_for('item_description',category=categoryName, item=i.name)}}"> {{i.name}}</a>
                </li>
                
            {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}