
<head>
  <meta name="google-signin-scope" content="profile email">
  <meta name="google-signin-client_id" content="682221223878-pl3rgk5qvvgme87832b2jeegjejs62og.apps.googleusercontent.com">

        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">  
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">  
      
  <!--LOAD PRE-REQUISITES FOR GOOGLE SIGN IN -->
   <script src="//apis.google.com/js/platform.js?"> </script>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   <!-- END PRE-REQUISITES FOR GOOGLE SIGN IN -->
  
  

</head>

 <body>

      <div class="container">

          
          <div class="card text-center" style="margin-top:10vh; border: .5px solid rgb(106, 106, 106) !important;">
              <div class="card-header">
               Login
                </div>
                <h5 class="card-title">WELCOME, please login</h5>
                <div class="card-body mx-auto">
                    

                    <!--Google Sign In-->    
                    <div class="g-signin2" data-onsuccess="onSignIn"></div>

                                        
                </div>
                <a href="/"> Return home</a>
                </div>

        </div>

</body>
<script
src="https://code.jquery.com/jquery-3.3.1.min.js"
integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
crossorigin="anonymous">
</script>
       

<script>



function onSignIn(googleUser) {
  var profile = googleUser.getBasicProfile();
  var id_token = googleUser.getAuthResponse().id_token;
        $.ajax({
            type: 'POST',
            url: '/auth/gconnect?state={{STATE}}',
            processData: false,
            data: id_token,
            contentType: 'application/octet-stream; charset=utf-8',
            success: function(result) {
                        //Refresh Page
               

             setTimeout(function() {

              window.location.href="/"
                }, 2000);

            },

            // error handler for 500    
            error: function(e, status){
                if (e.status == 500)
                var auth2 = gapi.auth2.getAuthInstance();
                auth2.signOut().then(function () {
                console.log('User signed out due to internal error');
                alert("There is an internal snag we are working on it, please come back later")
                });
            }
        

        })


    }

var onFailure = function(error) {
    console.log(error);
};




</script>